a.aui-theme-default.commentreply {
    text-align: -webkit-match-parent;
    font-size: 12px;
    color: #707070;
    line-height: 1.5;
    background: none;
}

.commentreplyarea {
    display: none;
    padding-right: 15px;
}
.textcommentreply {
    height: 45px;
    width: 100%;
    font-size: 14px;
}

a.aui-button.replycommentcancel {
    margin-left: 10px;
}

.hiddenthrobber {
    display: none;
}
div.movedcomment {
    padding: 10px 0px 0px 15px;
    border-bottom: 0px;
    border-top: 1px solid #cccccc;
}
ul.commentops {
    padding-bottom: 15px;
}